html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.wrapper{
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
}

.main{
  padding-top: 80px;
  padding-left: 88px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__title{ 
  font-size: 14px;
  font-weight: 700;
}

.about__name{
  font-size: 45px;
  font-weight: 700;
}

.main-text{
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}

.title-h3{
  font-size: 22px;
  font-weight: 700;
}

.project__title{
  margin-bottom: 10px;
}

.project__list{
  list-style-type: decimal;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project__list__item{
  color: #595959;
}

.project__list__link{
  color: #005FFF;
  font-size: 14px;
}

.exp{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.exp__title{
  margin-bottom: 0px;
}

.exp__item{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-h4{
  font-size: 16px;
  font-weight: 700;
}

.title-mod{
  font-size: 16px;
  font-weight: 700;
  color:#6D9BF5;
}

.time{
  font-size: 12px;
  color: #A8A8A8;
}

.exp__item__list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: disc;
  padding-left: 20px;
}

.education{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech__list__item{
  font-size: 14px;
}

.side{
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #E0EBFE;
  padding-top: 40px;
  padding-bottom: 40px;
}

.imgblock{
  width: 370px;
}

.imgblock__img{
  width: 100%;
}

.contacts{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts__item{
  display: flex;
  gap: 8px;
}

.contacts__item__title{
  color: #161D2A;
  font-size: 14px;
  font-weight: 700;
}

.contacts__item__text{
  font-size: 14px;
}

.left{
  margin-left: 40px;
}

.about__text{
  line-height: 24px;
}